## for_list_format

In [1]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [4]:
type(num)

list

In [10]:
for i in num :
    print(i, '번',end='/')

1 번/2 번/3 번/4 번/5 번/

In [14]:
for i in num :
    print('%d번'%i,end=' ')

1번 2번 3번 4번 5번

In [17]:
i=0
if i==0 :
    print('i는 0이다')
else:    
    print('i는 0이 아니다')

i는 0이다

In [21]:
i=10
if i%2==0 :
    print(i,'는 짝수이다')
else:    
    print(i,'i는 홀수이다')

10 는 짝수이다

In [23]:
i= int(input('숫자입력>>>'))
if i%2==0 :
    print(i,'는 짝수이다')
else:    
    print(i,'i는 홀수이다')

숫자입력>>>2
2 는 짝수이다

In [27]:
sub=['국','영','수','정보']
for i in range(len(sub)):
    print(sub[i], end=' ')

국 영 수 정보

In [29]:
sub=['국','영','수','정보']
for i,s in enumerate(sub):
    print(sub[i], end=' ')

국 영 수 정보

In [31]:
sub=['국','영','수','정보']
for i,s in enumerate(sub):
    if sub[i]=='정보' :
        print(i+1,'교시',sub[i], '합격')
    else:
        print(i+1,'교시',sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [33]:
for i in range(1, 11):
    if i%2==0:
        print('파이썬')
    else:
        print('파이썬 나도 할 수 있어')

파이썬 나도 할 수 있어
파이썬
파이썬 나도 할 수 있어
파이썬
파이썬 나도 할 수 있어
파이썬
파이썬 나도 할 수 있어
파이썬
파이썬 나도 할 수 있어
파이썬

## List

In [34]:
juso = '      인천광역시 중구 참외전로 6번지 3층 창의관    '
juso, type(juso),len(juso)

('      인천광역시 중구 참외전로 6번지 3층 창의관', str, 30)

In [35]:
juso=juso.strip()

In [37]:
juso, len(juso)

('인천광역시 중구 참외전로 6번지 3층 창의관', 24)

In [39]:
addr=juso.split()

In [41]:
addr,len(addr), type(addr)

(['인천광역시', '중구', '참외전로', '6번지', '3층', '창의관'], 6, list)

In [42]:
addr[:2], addr[3:]

(['인천광역시', '중구'], ['6번지', '3층', '창의관'])

In [43]:
juso.startswith('인천')

True

In [45]:
juso.endswith('동')

False

## format

In [49]:
s= 'A is {}, {}'
pr = s.format('사과','오렌지')
print(pr)

A is 사과, 오렌지

In [51]:
info_1= '학교:{}, 학번: {},이름: {}'
pr = info_1.format('인천정보산업고등학교',30118,'지유민')
print(pr)

학교:인천정보산업고등학교, 학번: 30118,이름: 지유민

In [54]:
info_2= '학교: %s, 학번: %d,성적: %2.2f'
pr = info_2%('인천정보',30118,90.08)
print(pr)

학교: 인천정보, 학번: 30118,성적: 90.08

In [58]:
a='%s %d 개 가격은 %.2f 달라'
b= a%('햄버거',2,8.0)
print(b)

햄버거 2 개 가격은 8.00 달라

###  1.30부터50까지 중에서 홀수만 출력

In [85]:
for i in range(30, 51):
    if i%2==0:
        print('짝수',end='/')
    else:
        sum+=i
        print(i)

짝수/31
짝수/33
짝수/35
짝수/37
짝수/39
짝수/41
짝수/43
짝수/45
짝수/47
짝수/49
짝수/

###  2.아이디(문자)를 입력받아 동일하면

```
안녕하세요 회원님
아니면 회원가입하세요.
```

In [92]:
a= input('아이디입력>>>')
if a=='ads':
    print('안녕하세요 회원님')
else:
    print('회원가입하세요')

아이디입력>>>ads
안녕하세요 회원님

###  3.입력예)인천정보산업고등학교/30105/김장민 

```
학교:인천정보산업고등학교
학번:30105
이름:김장민
```

In [102]:
stu=list(map(str, input('내용 입력>>').split('/')))

내용 입력>>인천정보산업고등학교/30105/김장민

In [99]:
stu

['인천정보산업고등학교', '30105', '김장민']

In [101]:
print('학교:',stu[0])
print('학번:',stu[1])
print('이름:',stu[2])

학교: 인천정보산업고등학교
학번: 30105
이름: 김장민

###  4.숫자데이터5개를 입력받아

```
합계
평균
```

In [2]:
s=list(map(int, input('내용 입력>>').split(',')))

내용 입력>>4, 5, 7, 11, 3

In [4]:
print("합계",sum(s))
print("평균",sum(s)/len(s))

합계 30
평균 6.0